{% extends "::vueMere.html.twig" %}

{% block bandeau %}
<div class="bandeau">
    <div class="panel panel-default">
        <h4 class="centrer">{{(personneEtEvenement[0].idEvenement.nom)}}{% include "laguntzaileBenevolesBundle:Default:langue.html.twig" %}</h4>
    </div>
</div>
{% endblock %}

{% block contenuCentral %}
<div class="blockCentral">
    <h4>{{(personneEtEvenement[0].idPersonne.prenom)}} {{(personneEtEvenement[0].idPersonne.nom)}},</h4>
    <br />
    {% if tabAffectationsDejaTraitees|length != 0 %}
    {% if tabAffectationsDejaTraitees|length != 0 %}
    <p>{% trans %}Voici l'affectation que vous avez déjà traité : {% endtrans %}</p>
    {% else %}
    <p>{% trans %}Voici la liste des affectations que vous avez déjà traité : {% endtrans %}</p>
    {% endif %}
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Poste{% endtrans %}</th>
                <th>{% trans %}Tour{% endtrans %}</th>
                <th>{% trans %}Choix{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for affectation in tabAffectationsDejaTraitees %}

            <tr>
                <td>{{affectation.idTour.idPoste.nom}}</td>

                {% if affectation.idTour.debut|date("d") == affectation.idTour.fin|date("d") %}

                <td>{% trans %}Le{% endtrans %} {{affectation.idTour.debut|date("d/m/Y")}}, {% trans %}de{% endtrans %} {{affectation.idTour.debut|date("H:i")}} {% trans %}à{% endtrans %} {{affectation.idTour.fin|date("H:i")}} </td>

                {% else %}

                <td>{% trans %}De{% endtrans %} {{affectation.idTour.debut|date("d/m/Y H:i") }} {% trans %}à{% endtrans %} {{affectation.idTour.fin|date("d/m/Y H:i")}}</td>

                {% endif %}
                <td>
                    {% if affectation.statut == "acceptee" %}
                    <p>{% trans %}Acceptée{% endtrans %}</p>
                    {% else %}
                    <p>{% trans %}Refusée{% endtrans %}</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    {% endif %}

    {% if tabAffectations|length == 0 %}
    <p class="centrer"> <em>{% trans %}Aucune propositions d'affectation pour l'instant.{% endtrans %}</em></p>
    {% else %}
    {% if tabAffectations|length == 1 %}
    <p> {% trans %}Voici l'affectation qui vous est proposée :{% endtrans %}</p>
    {% elseif tabAffectations|length > 1 %}
    <p> {% trans %}Voici la liste des affectations qui vous sont proposées :{% endtrans %}</p>
    {% endif %}

    <form method="post" {{form_enctype(formulaireAffectation)}}  novalidate="novalidate" >
        <table class="table">

            <col id="tailleColonneTableau1" width="50%">
            <col id="tailleColonneTableau2" width="50%">
            <col id="tailleColonneTableau3" width="0%">

            <thead>
                <tr>
                    <th>{% trans %}Poste{% endtrans %}</th>
                    <th>{% trans %}Tour{% endtrans %}</th>
                    <th id="titreColonnePoste" hidden=true>{% trans %}Choix{% endtrans %}</th>
                </tr>


            </thead>
            <tbody>
                {% set affectationCourante=0 %}
                {% for affectation in tabAffectations %}

                <tr>
                    <td class="nomDuPoste">{{affectation.idTour.idPoste.nom}}</td>

                    {% if affectation.idTour.debut|date("d") == affectation.idTour.fin|date("d") %}

                    <td>{% trans %}Le{% endtrans %} {{affectation.idTour.debut|date("d/m/Y")}}, {% trans %}de{% endtrans %} {{affectation.idTour.debut|date("H:i")}} {% trans %}à{% endtrans %} {{affectation.idTour.fin|date("H:i")}} </td>

                    {% else %}

                    <td>{% trans %}De{% endtrans %} {{affectation.idTour.debut|date("d/m/Y H:i") }} {% trans %}à{% endtrans %} {{affectation.idTour.fin|date("d/m/Y H:i")}}</td>

                    {% endif %}
                    <td id="coupleDeBoutons{{affectationCourante}}" hidden=true>
                        {{form_widget(formulaireAffectation["radio" ~ affectation.id])}}
                        <br />
                        <span id="span_form_radio{{affectation.id}}" hidden=true>
                            {{form_widget(formulaireAffectation["commentaire" ~ affectation.id])}}
                        </span>
                    </td>
                </tr>
                {% set affectationCourante=affectationCourante+1 %}
                {% endfor %}
            </tbody>
        </table>


        <div name="bouton" class="centrer"> 
            {{form_widget(formulaireAffectation["maCaseACocher"])}}{{form_label(formulaireAffectation["maCaseACocher"])}}</p>
        <input class="btn btn-primary" type="submit" value="{% trans %}Envoyer !{% endtrans %}">
        </div>
    </form>
</div>
{% endif %}
{% endblock %}